.movieItem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.movieItem:hover {
  transition: 0.15s;
  background: rgba(212, 212, 212, 0.116);
}

.movieLink {
  text-decoration: none;
  color: inherit;
}

.movieLink:hover {
  color: blue;
}
