.table {
  margin: auto;
  margin-bottom: 1rem;
  background: white;
  padding: 0 0 1rem 0;
  border-radius: 15px;
  box-shadow: 0px 0px 12px -7px black;
}

.tableHeader {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: linear-gradient(135deg, #c0e5f6 26.8%, #adfcea 64%) no-repeat;
}
.table > span {
  font-weight: bold;
}
