/* .header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
} */

.crumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.link {
  transition: 0.15s;
  all: unset;
  margin: 1rem;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  padding: 1rem;
  background: linear-gradient(135deg, #c0e5f6 26.8%, #adfcea 64%) no-repeat;
  border-radius: 2rem;
}

.link:hover {
  transition: 0.15s;
  color: white;
}
