/* .header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
} */

.crumbs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  all: unset;
  margin: 1rem;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  padding: 1rem;
  background: linear-gradient(315deg, #8ba6b3 26.8%, #bee9fc 64%);
  border-radius: 2rem;
}

.link:hover {
  transition: 0.15s;
  font-size: 1.2rem;
  color: white;
}
