.crumbs {
  display: flex;
}

.crumb {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: relative;
  background: linear-gradient(295deg, #8ba6b3 26.8%, #bee9fc 64%);
  padding-left: 2rem;
  padding-right: 1rem;
}

.crumb:before {
  z-index: 2;
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #8ba6b3;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.crumb:hover {
  transition: 0.15s;
  font-size: 1.2rem;
  color: white;
}

@media (width < 480px) {
  .crumb {
    padding-left: 2.5rem;
    padding-right: 0.5rem;
  }
}
